<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525223342808-jmdcqbrteqc7kmn6ocbir9kqmsfiekmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525223342808-jmdcqbrteqc7kmn6ocbir9kqmsfiekmh</string>
	<key>API_KEY</key>
	<string>AIzaSyAkNmImKq-ecp2S8dZ8S6dfUjiKoEBODNI</string>
	<key>GCM_SENDER_ID</key>
	<string>525223342808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.tengzin.EasyChat</string>
	<key>PROJECT_ID</key>
	<string>easychat-469fa</string>
	<key>STORAGE_BUCKET</key>
	<string>easychat-469fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525223342808:ios:6456a7c005f595d0339dad</string>
	<key>DATABASE_URL</key>
	<string>https://easychat-469fa.firebaseio.com</string>
</dict>
</plist>